numpy>=1.19.0
torch>=1.9.0
torchvision>=0.10.0
openmim>=0.1.5
timm
SimpleITK
pynrrd
pydicom
opencv-python
Pillow
mmcv>=1.3.9,<=1.4.8
mmpose==0.24.0
monai
torchio
matplotlib
jupyterlab
jupyter_contrib_nbextensions
nbconvert
